.video-call-container {
  position: absolute;
  /* width: 1000px; */
  width: 780px;
  height: 450px;
  padding: 25px;
  background-color: #1a1b26;
  border-radius: 40px;
  margin-left: 25px;
  /* z-index: -1; */
  align-self: flex-end;
  transition: 0.7s ease-out;
  display: flex;
  flex-direction: column;
  border: 1px solid #6665ff;
  color: white;
}

.cross-button {
  float: right;
  font-size: 20px;
  cursor: pointer;
  transition: 0.7s ease-out;
}

.cross-button:hover {
  color: red;
}
.my-video-container {
  display: flex;
  flex-direction: row;
  /* border: 2px black solid; */
}
.my-video {
  width: fit-content;
  height: fit-content;
  margin-left: 120px;
  /* border: 2px green solid; */
  align-self: flex-end;
}

.user-video {
  /* flex: 1; */
  width: 400px;
  height: fit-content;
  margin-left: 40px;
  /* border: 2px red solid; */
  /* align-self: flex-start; */
}

/* Button-container-1 {
  z-index: 2;
} */

.Button-container-1 {
  /* border: blue 1px solid; */
  padding: 10px;
}

.end-call-button {
  cursor: pointer;
  margin-left: 45%;
}
.make-call-button {
  cursor: pointer;
  margin-left: 45%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #9cff88;
  text-align: center;
}
.make-call-icon {
  padding: 7px;
  font-size: 25px;
  color: white;
}

.end-call-button {
  cursor: pointer;
  margin-left: 45%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: red;
  text-align: center;
}

.end-call-icon {
  padding: 6px;
  font-size: 25px;
  color: white;
}

/* .end-call-icon:hover {
  color: red;
} */

.waiting-user-feed {
  text-align: center;
  color: white;
}

.answer-call-button {
  margin: 10px;
  padding: 8px;
  border-radius: 10px;
  outline: none;
  text-decoration: none;
  border: none;
  background-color: #9cff88;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  cursor: pointer;
}
